body, html{
	margin: 0;
}

section{
	height: 100vh;
	background-image: url(img/fondo.jpg);
}

.header-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17em;
	height: 8em;
	background-color: #f26f62;
}

.header-title, h1{
	margin: 0;
}

ul{
	width: 23em;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

ul li{
	border:2px solid white;
	border-radius: 10px;
	padding: .5em 1em;
	box-sizing: border-box;
	transition: all .5s ease;
	color: white;
}

ul li:hover{
	border:2px solid #f26f62;
	color: #f26f62;
}

.header-contenedor{
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}